plugins:

  - name: Makes a an opening and closing tag of the word under the cursor 
    key: tag
    steps:
      - helix_action: keystrokes
        sequence: [
          "miw", # select word
          "\"ty", # copy it
          "ms<", # surround with <>
          "a", # insert at end
          "/", # type "/" char
          "<esc>", # normal mode
          "\"tpbhve", # paste, move back in selection mode
          "ms<", # surround with <>
          "F<i"] # move to middle of tag and start into insert mode
  - name: Makes a tag around the current selection with a name of ARG1
    key: "make_tag"
    escape_chars: ["\\", "\"", "'", ";", "-"]
    steps:
      - helix_action: command
        command: 'pipe echo "<{{ARG1}}>{{selection}}</{{ARG1}}>"'
  
  - name: Makes a self closing tag of ARG1
    key: tagc
    steps:
      - helix_action: keystrokes
        sequence: ["<esc>", ':append-output echo "<{{ARG1}}/>"', "<enter>"]
  
  - name: "prints the selection to the helix :echo command"
    key: "print"
    escape_chars: ["\\", "\\n", "\"", "'", ";", "-"]
    steps:
      - variable_key: "test_var"
        var_cmd: "echo hello world"
      - helix_action: "command"
        command: "echo {{test_var}}"
      - wait: 500
      - helix_action: "keystrokes"
        sequence: ["<esc>", ":echo {{selection}}", "<enter>"]

  - name: create a UUID
    key: id
    steps:
      - helix_action: command
        command: "pipe uuidgen"
      
  - name: "Title Case"
    key: "tc"
    steps:
      - helix_action: "command"
        command: 'pipe %{selection} | python3 -c "import sys; print(sys.stdin.read().title().strip())"'

  - name: "Git Blame Line"
    key: "gb"
    steps:
      - run: "git blame -L {{line}},{{line}} {{file}}"
        interactive: true
